// colors
$primary-black-color: #131313;
$primary-grey-color: #333;
$primary-white-color: #fafafa;

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
$desktop-wide: 1680px;

// font-weight
$regular: 400;
$regular-extra: 500;
$medium: 600;
$bold: 700;

// line-height
$primary-line-height: 1.8;
$secondary-line-height: 1.39;
$triple-line-height: 1.5;
$quadruple-line-height: 1.68;

// transition
$transition: all 250ms linear;