:root {
  // colors
  --primary-bg: #fefae0;
  --secondary-bg: #fa9500;
  --tertiary-bg: #d6eadf;
  --accent-color: #fefae0;
  --additional-accent-hover: #ff5c00;
  --primary-accent-bg: #ffb627;
  --secondary-accent-bg: #fcf6bd;
  --tertiary-accent-bg: #fb8500;
  --primary-text-color: #131313;
  --secondary-text-color: #3e3e3d;
  --tertiary-text-color: #0d0628;
  --primary-item-color: #0d0628;
  --primary-error-color: #ca0f0f;
}

//dark-mode
[data-theme="dark"] {
  --primary-bg: #3e3e3d;
  --secondary-bg: #5a5b4f;
  --tertiary-bg: #a0a071;
  --accent-color: #dddd80;
  --additional-accent-hover: #66bb6a;
  --primary-accent-bg: #dddd80;
  --secondary-accent-bg: #fcf6bd;
  --tertiary-accent-bg: #fb8500;
  --primary-text-color: #f2f2f2;
  --secondary-text-color: #d2d2d2;
  --tertiary-text-color: #131313;
  --primary-item-color: #fefae0;
  --primary-error-color: #fa3831;
}

//constant
$white: #fff;
$grey: #cacaca;
$grey-dark: #3e3e3d;
$green: #66bb6a;
$black: #131313;
$orange: #ff5c00;
$primary-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
$secondary-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$tertiary-shadow: 2px 2px 5px rgba(95, 94, 94, 0.7);
$card-shadow:
  rgba(0, 0, 0, 0.09) 0px 2px 1px,
  rgba(0, 0, 0, 0.09) 0px 4px 2px,
  rgba(0, 0, 0, 0.09) 0px 8px 4px,
  rgba(0, 0, 0, 0.09) 0px 16px 8px,
  rgba(0, 0, 0, 0.09) 0px 32px 16px;

// breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;
$desktop-wide: 1680px;

// font-weight
$light: 300;
$regular: 400;
$regular-extra: 500;
$medium: 600;
$bold: 700;

// transition
$transition: 300ms linear;
