@import "../../styles/vars";

.headerWrapper {
  background-color: var(--secondary-bg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  box-shadow: $secondary-shadow;
  &__menu {
    display: none;
  }
  &__logo {
    height: 36px;
    width: 36px;
    fill: var(--primary-item-color);
    transition: all $transition;
    &:hover {
      scale: 1.1;
    }
  }
  &__icon {
    height: 24px;
    width: 24px;
    fill: var(--primary-item-color);
    transition: all $transition;
    &:hover {
      scale: 1.1;
    }
  }
  &__settingsWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__menuButton {
    width: 20px;
    height: 20px;
    fill: var(--primary-item-color);
    transition: all $transition;
    cursor: pointer;
    &:hover {
      scale: 1.1;
    }
  }
}

.mobMenu_wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-bg);
}

.mobMenu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  gap: 20px;
  &__item {
    color: var(--primary-item-color);
    transition: all $transition;
    &:hover {
      text-shadow: $primary-shadow;
    }
  }
}

@media screen and (min-width: $tablet) {
  .header {
    padding: 4px 20px;
    &__menuWrapper {
      display: flex;
      align-items: center;
      gap: 52px;
    }
    &__menu {
      display: flex;
      gap: 32px;
      &__item {
        font-size: 20px;
        color: var(--primary-item-color);
        transition: all $transition;
        &:hover {
          text-shadow: $primary-shadow;
        }
      }
    }
    &__logo {
      height: 48px;
      width: 48px;
    }
    &__icon {
      height: 32px;
      width: 32px;
    }
    &__settingsWrapper {
      gap: 16px;
    }
    &__menuButton {
      display: none;
    }
  }

  .mobMenu_wrapper {
    display: none;
  }
}

@media screen and (min-width: $desktop) {
  .header {
    padding: 6px 60px;
    &__menuWrapper {
      gap: 60px;
    }
    &__menu {
      gap: 80px;
      &__item {
        font-size: 24px;
      }
    }
    &__logo {
      height: 56px;
      width: 56px;
    }
    &__icon {
      height: 44px;
      width: 44px;
    }
    &__settingsWrapper {
      gap: 28px;
    }
  }
}
