@import "../../styles/vars";

.headerWrapper {
  background-color: var(--secondary-bg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &__menu {
    display: none;
  }
  &__logo {
    height: 32px;
    width: 32px;
    fill: var(--primary-item-color);
    transition: all $transition;
    &:hover {
      fill: $orange;
    }
  }
  &__icon {
    height: 24px;
    width: 24px;
    fill: var(--primary-item-color);
    transition: all $transition;
    &:hover {
      fill: $orange;
    }
  }
  &__settingsWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (min-width: $tablet) {
  .header {
    padding: 4px 20px;
    &__menuWrapper{
      display: flex;
      align-items: center;
      gap: 52px;
    }
    &__menu {
      display: flex;
      gap: 32px;
      &__item {
        font-size: 20px;
        color: var(--primary-item-color);
        transition: all $transition;
        &:hover {
          color: $orange;
        }
      }
    }
    &__logo {
      height: 48px;
      width: 48px;
    }
    &__icon {
      height: 32px;
      width: 32px;
    }
  }
}

@media screen and (min-width: $desktop){
    .header {
    padding: 6px 60px;
    &__menuWrapper{   
      gap: 60px;
    }
    &__menu {
      gap: 80px;
      &__item {
        font-size: 24px;      
      }
    }
    &__logo {
      height: 56px;
      width: 56px;
    }
    &__icon {
      height: 44px;
      width: 44px;
    }
  }
}
