@import "../../styles/vars";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 80px;
  height: 36px;
  border-radius: 8px;
  color: $black;
  font-size: 14px;
  font-weight: $regular-extra;
  transition: all $transition;
  &:disabled {
    background-color: $grey;
    cursor: not-allowed;
  }
  &.primary {
    background-color: var(--secondary-accent-bg);
    &:hover,
    &:focus {
      background-color: var(--tertiary-accent-bg);
    }
  }
  &.secondary {
    border: 2px solid var(--secondary-accent-bg);
    background-color: var(--secondary-accent-bg);
    &:hover,
    &:focus {
      border: 2px solid transparent;
    }
  }
  &.icon {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
  }
  &.ghost {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    font-weight: $light;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $tablet) {
  .button {
    width: 150px;
    height: 48px;
    font-size: 20px;
  }
}

@media screen and (min-width: $desktop) {
  .button {
    width: 180px;
    height: 52px;
    font-size: 28px;
  }
}
