@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400..700;1,400..700&display=swap");
@import "./styles/vars";
@import "./styles/animations";

body {
  margin: 0;
  font-family: "Montserrat Variable", sans-serif;
  font-weight: $regular;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $primary-bg;
  color: $primary-text-color;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  display: block;
  font-family: inherit;
  border: none;
}

input,
select,
textarea {
  cursor: pointer;
  font-family: inherit;
}
